<div>
  <h3 class="mt-5">Assign Reviwers</h3>
  <table class="table table-dark mt-3">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">    
              <input value="{{user.username}}" type="checkbox" (change)="user.checked = !user.checked" [checked]="user.checked">
          </th>
          <td>{{user.username}}</td>
          <td>{{user.name}}  {{user.surname}}</td>
          <td>{{user.email}}</td>
        </tr>
       
      </tbody>
    </table>

  <button (click)="assign()" type="button" class="btn btn-primary">Assign</button>

</div>