<div class="pt-5">
    <h3>Search for an Article</h3>

    Insert Abstract Paragraph:
    <div style="padding-bottom: 15px;">
        <input id="name" type="text" formControlName="name">
    </div>

    Insert Title:
    <div style="padding-bottom: 15px;">
        <input id="name" type="text" formControlName="name">
    </div>

    Insert Keyword:
    <div style="padding-bottom: 15px;">
        <input id="name" type="text" formControlName="name">
    </div>

    Insert Author:
    <div style="padding-bottom: 15px;">
        <input id="name" type="text" formControlName="name">
    </div>

    Insert Section:
    <div style="padding-bottom: 15px;">
        <input id="name" type="text" formControlName="name">
    </div>

    <button (click)="search()" type="button" class="btn btn-primary">Search</button>
</div>