<h1 class="mt-5">My Articles</h1>
<ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" (click)="changeStatus('accepted')">Accepted</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"  role="tab" aria-controls="profile" aria-selected="false" (click)="changeStatus('rejected')">Rejected</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" (click)="changeStatus('in_progress')">In progress</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#revising" role="tab" aria-controls="revising" aria-selected="false" (click)="changeStatus('revising')">Revising</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#submitted" role="tab" aria-controls="submitted" aria-selected="false" (click)="changeStatus('submitted')">Submitted</a>
  </li>
</ul>

<div class="article-details" *ngFor="let item of articles; let i = index" >
  <h1>{{item.title}}</h1> <br />
  Authors: 
  <ul *ngFor="let author of item.authors; let j = index">
      <li>{{author}}</li>
  </ul>
  <br />
  Keywords: 
  <div *ngIf="item.keywords">
      <ul *ngFor="let keyword of item.keywords; let j = index">
          <li>{{keyword}}</li>
      </ul>
  </div>
  <div *ngIf="status == 'accepted'" class="mt-5">
    <button (click)="submit(item.id)" type="button" class="btn btn-primary mr-3">Submit</button>
    <button (click)="delete(item.id)" type="button" class="btn btn-primary">Delete</button>
  </div>

  <div *ngIf="status == 'revising'" class="mt-5">
    <button (click)="edit(item.id)" type="button" class="btn btn-primary mr-3">Edit Article</button>
    <button (click)="delete(item.id)" type="button" class="btn btn-primary">Delete</button>
  </div>
</div>
